
header{
    width: 100%;
    height: 125px;
    line-height: 0px;
}
img{
    vertical-align: auto;
}

header h1{
    display: inline-block;
    font-size: 40px;
    vertical-align: 15px;
}
main{
    width: 100%;
    height: 800px;
    background-color: darkgrey;
    padding: 30px;
}
.buttons{
    width: 50%;
    min-height: 70px;
    background-color: lightblue;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
.task{
    display: inline-block;
    width: 100px;
    height: 35px;
    background-color: blue;
    color: white;
    border: 1px solid transparent;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    margin:20px 0px 0px 30px;
}
.section{
    display: inline-block;
    width: 100px;
    height: 35px;
    background-color: white;
    color: black;
    border: 1px solid;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
}
.container{
    width: 50%;
    min-height: 600px;
    background-color: lightblue;
    margin: 5px auto;
    border-radius: 5px;
}
.title{
    margin-left: 30px;
}
.check{
    color: green;
    border: 1px solid;
    font-size: 8px;
    padding: 3px;
    border-radius: 50%;

}
.cross{
    color: red;
    border: 1px solid;
    font-size: 8px;
    padding: 3px;
    border-radius: 50%;
}
/* utility */
.sky{
    width: 100px;
    height: 35px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 35px;
    border-radius: 15px;
    padding: 5px;
}
.emperor{
    width: 100px;
    height: 35px;
    background-color: purple;
    color: white;
    text-align: center;
    line-height: 35px;
    border-radius: 15px;
    padding: 5px;
}
.grass{
    width: 100px;
    height: 35px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 35px;
    border-radius: 15px;
    padding: 5px;
}
.rich{
    width: 100px;
    height: 35px;
    background-color: darkgoldenrod;
    color: white;
    text-align: center;
    line-height: 35px;
    border-radius: 15px;
    padding: 5px;
}

